body {
    background-color: #333333;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    height: 710px;
    width: 700px;
    padding: 45px 25px 30px 25px;
    margin-top: 75px;
    margin-right: auto;
    margin-bottom:auto;
    margin-left:auto;
    background: #52003d;
    border: 5px solid black;
}

#displayString {
    grid-column: 1/5;
    grid-row: 1/1;
    width: 690px;
    Height: 40px;
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
    font-size: 18px;
    background-color: white;
    border: 5px solid black;
}

#totalString {
        grid-column: 1/5;
        grid-row: 1/1;
        margin-top: 50px;
        width: 690px;
        height: 25px;
        padding-right: 5px;
        padding-bottom: 10px;
        text-align: right;
        font-size: 25px;
        font-weight: bold;
        overflow: hidden;
        background-color: white;
        border-left: 5px solid black;
        border-right: 5px solid black;
        border-bottom: 5px solid black;
    }

#clear {
    font-size: 36px
}

.operator {
    font-size: 40px;
    background-color: darkgray;
}

.num {
    font-size: 36px;
    padding: 10px 20px 10px 20px;
}

#clear {
    font-size: 36px;
    background-color: brown;
}

#backspace {
    font-size: 40px;
    background-color: brown;
}

#add {
    grid-column: 4;
    grid-row: 3/5;
}

#decimal {
    font-size: 40px;
}

#equals {
    font-size: 36px;
    grid-column: 4;
    grid-row: 5/7;
    background-color: brown;
}